<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant</title>
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="client.js" defer></script>
</head>
<body>
    <header>

    </header>
    <main>
        <aside>

        </aside>
        <section>
            
        </section>
        
    </main>
</body>