<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant</title>
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="client.js" defer></script>
</head>
<body>
   <div class="container">
       <header>
         <a href="/"><h1>TOKIO-SITY</h1></a>
         <ul>
            <li><a href="/">TOKIO-SITY</a></li>
            <li><a href="#">БАХРОМА</a></li>
            <li><a href="#">ГОРОДСКИЕ КОНДИТЕСРКИЕ</a></li>
         </ul>
       </header>
       <main>
        <div class="main_button">
            <button>Войти</button>
            <button>Регистрация</button>
        </div>
        <div class="main_form">
            <form action="#" method="post">
                <h3>Войти в кабинет</h3>
                <input type="text" name="login">
                <input type="password" name="password">
                <input type="submit" value="Войти">
            </form>
            <div class="main_img">
                
            </div>
        </div>
       </main>
   </div>
    <footer>
        <div class="footer__logo">

        </div>
        <div class="contact">
            <ul>
                <li><a href="#">Рестораны</a></li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">контакты</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Сотрудничество</a></li>
            </ul>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instgram</a></li>
                <li><a href="#">Вконтакте</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>