<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant</title>
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <header>
        <div class="baxroma header__grid">
            <div class="image__baxroma">
                <div>
                    <h1>Бахрома</h1>
                </div>
            </div>
            <form action="#" method="post">
                <div class="header__title__form">
                    <p>Логин</p>
                    <p>Регистрация</p>
                </div>
                <div class="header__icon__arrow"><div class="header__box checked"></div></div>
                <input type="text" name="login" placeholder="Введите Email">
                <input type="password" name="password" placeholder="Введите пароль">
                <input type="submit" name="submit">
            </form>
        </div>
        <div class="cakes header__grid">
            <div class="image__cakes">
                <h1 class="title__h1">Городские кондитерские</h1>
            </div>
            <form action="#" method="post">
                <div class="header__title__form">
                    <p>Логин</p>
                    <p>Регистрация</p>
                </div>
                <div class="header__icon__arrow"><img src="arrow.png" alt="arrow"></div>
                <input type="text" name="login" placeholder="Введите Email">
                <input type="password" name="password" placeholder="Введите пароль">
                <input type="submit" name="submit">
            </form>
        </div>
             <div class="tokyo header__grid">
                  <div class="image__tokyo">
                 <h1 class="title__h1">Токио-сити</h1>
             </div>
             <form action="#" method="post">
                <div class="header__title__form">
                    <p>Логин</p>
                    <p>Регистрация</p>
                </div>
                <div class="header__icon__arrow"><img src="arrow.png" alt="arrow"></div>
                <input type="text" name="login" placeholder="Введите Email">
                <input type="password" name="password" placeholder="Введите пароль">
                <input type="submit" name="submit">
            </form>
        </div>
    </header>
    <main>
        <h1 class="main__h1">В разработке</h1>
    </main>
    <footer>
        <div class="footer__logo">

        </div>
        <div class="contact">
            <ul>
                <li><a href="#">Рестораны</a></li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">контакты</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Сотрудничество</a></li>
            </ul>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instgram</a></li>
                <li><a href="#">Вконтакте</a></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="client.js"></script>
</body>
</html>