@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
*{
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    font-family: 'Crimson Text', serif;
    color:black;
}
.container{
    width:100%;
    min-height:100vh;
    background: url('Hero.jpg') no-repeat center;
    background-size:cover;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:20% 80%;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1% 1%;
}
header a {
    text-decoration:none;
}
header h1{
    color:white;
    font-size:3em;
    letter-spacing:0.3em;
    margin-left:1em;
    text-shadow: 0.1px -0.1px 0 #767676, 
    -0.1px 0.2px 0.1px #737272, 
    -0.2px -0.4px 0.1px #767474, 
    -0.3px 0.6px 0.1px #787777, 
    -0.4px 0.8px 0.1px #7b7a7a, 
    -0.5px 1px 0.1px #7f7d7d, 
    -0.6px 1.2px 0.1px #828181, 
    -0.7px 1.4px 0.1px #868585, 
    -0.8px 1.6px 0.1px #8b8a89, 
    -0.9px 1.8px 0.1px #8f8e8d, 
    -1.0px 2.0px 0.1px #949392, 
    -1.1px 2.2px 0.1px #999897, 
    -1.2px 2.4px 0.1px #9e9c9c, 
    -1.3px 2.6px 1px #a3a1a1, 
    -1.4px 2.8px 0.1px #a8a6a6, 
    -1.5px 3.0px 0.1px #adabab, 
    -1.6px 3.2px 0.1px #b2b1b0, 
    -1.7px 3.4px 0.1px #b7b6b5;
}
header h1:hover,header h1:focus,header h1:active {
    color: #1A2746;
    transition:0.3s;
}
header ul {
    display:flex;
    justify-content:space-between;
}
header ul li a{
    margin:0 0.5em;
    padding:0 2px 1px 0;
    text-decoration:none;
    color:white;
    letter-spacing:1px;
}
header ul li:nth-child(1) a:hover,header ul li:nth-child(1) a:focus,header ul li:nth-child(1) a:active {
    border-bottom:solid 1px #b7b6b5;
    transition:0.1s;
    color: #1A2746;
}
header ul li:nth-child(2) a:hover,header ul li:nth-child(2) a:focus,header ul li:nth-child(2) a:active {
    border-bottom:solid 1px #b7b6b5;
    transition:0.1s;
    color: #F1C473;
}
header ul li:nth-child(3) a:hover,header ul li:nth-child(3) a:focus,header ul li:nth-child(3) a:active {
    border-bottom:solid 1px #b7b6b5;
    transition:0.1s;
    color: #EA7F9A;
}
main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}
.main_button {
    display:flex;
    justify-content:center;
    align-items:center;
}
.main_button button{
    padding:6px 20px;
    margin:0 2.5px;
    border:none;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.4);
    color:white;
}
.main_button button:hover,.main_button button:focus, .main_button button:hover:active{
    background:#1A2746;
    transition:0.5s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}
.main_form{
    display:grid;
    grid-template-columns:70% 30%;
}
.main_form form{
    width:90%;
    height:90%;
    margin:auto auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}
.main_form form h3{
    padding:1em 0;
    color:white;
    text-align:center;
    letter-spacing:0.3em;
    font-size:1.6em;
}
.main_form form input[type=text] {
    width:80%;
}