@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
*{
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    font-family: 'Crimson Text', serif;
    color:black;
}
.container{
    width:100%;
    min-height:100vh;
    background: url('Hero.jpg') no-repeat center;
    background-size:cover;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:20% 80%;
    overflow:hidden;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1% 1%;
}
header a {
    text-decoration:none;
}
header h1{
    color:white;
    font-size:3em;
    letter-spacing:0.3em;
    margin-left:1em;
    text-shadow: 0.1px -0.1px 0 #767676, 
    -0.1px 0.2px 0.1px #737272, 
    -0.2px -0.4px 0.1px #767474, 
    -0.3px 0.6px 0.1px #787777, 
    -0.4px 0.8px 0.1px #7b7a7a, 
    -0.5px 1px 0.1px #7f7d7d, 
    -0.6px 1.2px 0.1px #828181, 
    -0.7px 1.4px 0.1px #868585, 
    -0.8px 1.6px 0.1px #8b8a89, 
    -0.9px 1.8px 0.1px #8f8e8d, 
    -1.0px 2.0px 0.1px #949392, 
    -1.1px 2.2px 0.1px #999897, 
    -1.2px 2.4px 0.1px #9e9c9c, 
    -1.3px 2.6px 1px #a3a1a1, 
    -1.4px 2.8px 0.1px #a8a6a6, 
    -1.5px 3.0px 0.1px #adabab, 
    -1.6px 3.2px 0.1px #b2b1b0, 
    -1.7px 3.4px 0.1px #b7b6b5;
}
header h1:hover,header h1:focus,header h1:active {
    color: #1A2746;
    transition:0.3s;
}
header ul {
    display:flex;
    justify-content:space-between;
}
header ul li a{
    margin:0 0.5em;
    padding:0 2px 1px 0;
    text-decoration:none;
    color:white;
    letter-spacing:1px;
}
header ul li:nth-child(1) a:hover,header ul li:nth-child(1) a:focus,header ul li:nth-child(1) a:active {
    border-bottom:solid 1px #b7b6b5;
    transition:0.1s;
    color: #1A2746;
}
header ul li:nth-child(2) a:hover,header ul li:nth-child(2) a:focus,header ul li:nth-child(2) a:active {
    border-bottom:solid 1px #b7b6b5;
    transition:0.1s;
    color: #F1C473;
}
header ul li:nth-child(3) a:hover,header ul li:nth-child(3) a:focus,header ul li:nth-child(3) a:active {
    border-bottom:solid 1px #b7b6b5;
    transition:0.1s;
    color: #EA7F9A;
}
main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}
.main_hide{
    display:none;
}
.main_button {
    display:flex;
    justify-content:center;
    align-items:center;
}
.main_button button{
    padding:6px 20px;
    margin:0 2.5px;
    border:none;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.4);
    color:white;
}
.main_button button:hover,.main_button button:focus, .main_button button:hover:active{
    background:#1A2746;
    transition:0.5s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}
.main_form{
    display:grid;
    grid-template-columns:70% 30%;
}
.main_form .form_general{
    min-width:90%;
    min-height:90%;
    margin:auto auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    text-align:center;
}
.main_form .form_general h3{
    padding:1em 0;
    color:white;
    text-align:center;
    letter-spacing:0.3em;
    font-size:1.6em;
    margin-bottom:7%;
}
.main_form form input[type=text] {
    width:68%;
    margin:1.5px auto 1.5px auto;
    padding:0.4em 1em;
    background: rgba(9, 16, 51, 0.1);
    border:solid rgba(9, 16, 51, 0.9) 1px;
    border-radius: 13px;
    color:white;
}
.main_form form input[type=text]::placeholder {
    color:white;
    opacity:0.8;
}
.main_form form input[type=text]:hover,
.main_form form input[type=text]:focus,
.main_form form input[type=text]:active{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    transition:0.5s;
}
.main_form form input[type=email] {
    width:68%;
    margin:1.5px auto 1.5px auto;
    padding:0.4em 1em;
    background: rgba(9, 16, 51, 0.1);
    border:solid rgba(9, 16, 51, 0.9) 1px;
    border-radius: 13px;
    color:white;
}
.main_form form input[type=email]::placeholder {
    color:white;
    opacity:0.8;
}
.main_form form input[type=email]:focus,
.main_form form input[type=email]:hover,
.main_form form input[type=email]:active{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    transition:0.5s;
}
.main_form form input[type=password] {
    width:68%;
    margin:1.5px auto 1.5px auto;
    padding:0.4em 1em;
    background: rgba(9, 16, 51, 0.1);
    border:solid rgba(9, 16, 51, 0.9) 1px;
    border-radius: 13px;
    color:white;
}
.main_form form input[type=password]::placeholder {
    color:white;
    opacity:0.8;
}
.main_form form input[type=password]:hover,
.main_form form input[type=password]:focus,
.main_form form input[type=password]:active{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    transition:0.5s;
}

.main_form form input[type=submit] {
    width:68%;
    margin:1.5px auto 1.5px auto;
    padding:0.4em 1em;
    background: rgba(83, 16, 38, 0.836);
    border:solid rgba(9, 16, 51, 0.9) 1px;
    border-radius: 13px;
    color:white;
}
.main_form form input[type=submit]:hover,
.main_form form input[type=submit]:focus,
.main_form form input[type=submit]:active{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    background: rgba(83, 16, 38);
    transition:0.5s;
}
footer {
    padding-top:2.5em;
    padding-bottom:2.5em;
    display:grid;
    grid-template-columns:50% 50%;
    background:#1A2746;
}
.footer__img{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
	height:100%;
}
.container__footer__img{
    position:relative;
    width:10%;
    height:16%;
    transform:rotate(-30deg) skew(25deg);
}
.container__footer__img img {
    position:absolute;
    width:80%;
    transition:0.5s;
}
.container__footer__img:hover img:nth-child(1),
.container__footer__img:focus img:nth-child(1) {
    cursor:pointer;
    transform: translate(3px, -3px);
}
.container__footer__img:hover img:nth-child(2),
.container__footer__img:focus img:nth-child(2) {
    cursor:pointer;
    transform: translate(6px, -6px) rotate(20deg);
}
.container__footer__img:hover img:nth-child(3),
.container__footer__img:focus img:nth-child(3) {
    cursor:pointer;
    transform: translate(9px, -9px) rotate(40deg);
}
.container__footer__img:hover img:nth-child(4),
.container__footer__img:focus img:nth-child(4) {
    cursor:pointer;
    transform: translate(12px, -12px) rotate(60deg);
}
.container__footer__img:hover img:nth-child(5),
.container__footer__img:focus img:nth-child(5) {
    cursor:pointer;
    transform: translate(15px, -15px) rotate(80deg);
}
.container__footer__img:hover img:nth-child(6),
.container__footer__img:focus img:nth-child(6) {
    cursor:pointer;
    transform: translate(18px, -18px) rotate(100deg);
}
.contact {
    display:flex;
    justify-content:space-around;
}
.contact ul li a{
    text-decoration:none;
    color:white;
    letter-spacing:1px;
    padding:0 7px 0 7px;
    
}
.contact ul li a:hover,
.contact ul li a:active,
.contact ul li a:focus{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    transition:0.4s;
}